<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
<%- include('../partials/head') %>

<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <section class="categories">
        <section class="category">
            <p><a href="/">INICIO</a> > <%= category %> </p>
        </section>

        <section class="products">
            <h2>Lámparas de <%= category.toLowerCase() %></h2>
            <article class="see">
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <div class="see__dest">
                        <a href="/product/detail/<%= products[i].id %>">
                            <img src="/img/<%= products[i].img %>" alt="Producto destacado" class="dest">
                            <p><%= products[i].name %><br><strong> $<%= products[i].price %></strong></p>
                        </a>
                        <p class="dest-fee"><%= products[i].payments %> cuotas sin interés de <strong>$<%= parseInt(parseInt(products[i].price) /parseInt(products[i].payments)) %></strong></p>
                        <% if(locals.userLogged && userLogged.admin) {%>
                            <a href="/admin/product/edit/<%- products[i].id %>"><button class="back_button"><p>Editar</p></button></a>
                            <a href="/admin/product/delete/<%- products[i].id %>"><button class="back_button"><p>Eliminar</p></button></a>
                        <% } %>
                    </div>
                <% } %>
            </article>            
        </section>

    </section>
    

    
    
    

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>