<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header') %>
    <main class="main">
        <div id="cart_title">
            <h3>Carrito</h3>
        </div>
            <% for( let i=0; i < 3; i++ ) { %>
                <div class = "cart_products">
                    <!-- cuatro articles -->
                    <article class="product">
                        <img src="/img/<%= product[i].images[0].url %>" alt="Imagen de producto">
                    </article>

                    <article class="product_name">
                        <p><%= product[i].name %></p>
                    </article>

                    <article class="product_price">
                        <!-- Si el producto tiene descuento % -->
                        <% if (product[i].discount > 0) { %>
                            <p class="detail_product_price_lt">
                                $<%= product[i].price %>
                            </p>
                            <p class="detail_product_price_final">
                                $<%= product[i].price - (product[i].discount * product[i].price / 100) %>
                            </p>

                        <% } else { %>
                            <!-- Si no tiene descuento -->
                            <p class="detail_product_price">
                                $<%= product[i].price %>
                            </p>
                        <% } %>
                    </article>
                    <article class="add_delete">
                        <!-- <button class="decr">
                            <svg width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                            </svg>
                        </button>
                        <p class="cero">1</p>     
                        <button class="incr">
                            <svg width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button> -->
                        <input type="number" name="cant" id="cant" value="1">
                        <button class="delete">
                            <svg width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </button>
                    </article>   
                </div>
                <% } %>
            
            <article class="total">
                <p>Total: $<%= parseInt(product[0].price - (product[0].discount * product[0].price / 100)) + parseInt(product[1].price - (product[1].discount * product[1].price / 100)) + parseInt(product[2].price - (product[2].discount * product[2].price / 100)) %></p>
            </article>

        <div id="final_buy">
            <button class="finish_buy">
                Continuar compra
            </button>
        </div>
    </main>
    <script src="/js/productCart.js"></script>

    <%- include('../partials/footer') %>
</body>
</html>    