<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
<%- include('../partials/head') %>

<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <section class="categories">
        <section class="category">
            <p><a href="/">INICIO</a> > Productos </p>
        </section>

        <section class="products">
            <h2>Lámparas - Galería completa </h2>
            <% if(locals.userLogged && userLogged.admin) {%>
                <button class="admin_options"><a href="/admin/product/create">Crear nuevo producto</a></button>
                <% } %>

            <article class="see">
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <% if( products[i].state || (locals.userLogged && userLogged.admin)) { %>
                    <div class="see__dest">
                        <a href="/product/detail/<%= products[i].id %>">
                            <img src="/img/<%= products[i].images[0].url %>" alt="Producto destacado" class="dest">
                            
                            <p class="product_name">
                                <%= products[i].name %><br>
                                <!-- Si el producto tiene descuento % -->
                                <% if (products[i].discount > 0) { %>
                                    <p class="see_price_lt">
                                        $<%= products[i].price %>
                                    </p>
                                    <p class="see_price_final">
                                        $<%= products[i].price - (products[i].discount * products[i].price / 100) %>
                                    </p>
                                <% } else { %>
                                    <!-- Si no tiene descuento -->
                                    <p class="see_price">
                                       <strong>$<%= products[i].price %></strong>
                                    </p>
                                <% } %>
                            </p>
                        </a>

                            <% if(locals.userLogged && userLogged.admin) {%>
                                <div class="buttons">
                                <a href="/admin/product/edit/<%- products[i].id %>"><button class="back_button">Editar</button></a>
                                <a href="/admin/product/delete/<%- products[i].id %>"><button class="back_button">Eliminar</button></a>
                                </div>
                            <% } %>
                        </a>
                    </div>
                    <% } %>
                <% } %>
            </article>            
        </section>

    </section>
    
    <!-- <script src="/js/header.js"></script> -->

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>