<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
<body>

    <!--HEADER-->

    <%- include('../partials/header') %>

    <!--MAIN-->

    <main class="background-main-form">
        <section class="main-form">
            <p>Editar de producto</p>
            <form action="/product/edit/<%= product.id %>?_method=PUT" method="post" class="form" enctype="multipart/form-data">
                <section class="register">
                    <label class="form-title">Nombre del producto</label>
                    <input type="text" class="validate" name="name" required="required" pattern="{0,11}" value = "<%= product.name %>">
                </section>
                <section class="register">
                    <label class="form-title">Descripcion del producto</label>
                    <textarea name="description" rows="4" cols="50" value = "<%= product.description.forMap %>"></textarea>
                </section>
                <section class="register">
                    <label class="form-title">Foto del producto</label>
                    <section class="img">
                        <img src="\img\<%= product.img %>" width="100%">
                    </section>
                    <input type="file" name="Foto" accept=".jpg" multiple>
                </section>
                <section class="register">
                    <label class="form-title">Categoria</label>
                    <div class="register-radio">
                        <input type="radio" name="category" value="Techo" required="required">
                        <label>Techo</label>
                    </div>
                    <div class="register-radio">
                        <input type="radio" name="category" value="Pared" required="required">
                        <label>Pared</label>
                    </div>
                    <div class="register-radio">
                        <input type="radio" name="category" value="Pie" required="required">
                        <label>Pie</label>
                    </div>
                </section>
                <section class="register">
                    <label class="form-title">Color</label>
                    <input type="text" class="validate" name="color" required="required" value = "<%= product.color %>">
                </section>
                <section class="register">
                    <label class="form-title">Precio</label>
                        <input type="number" class="validate" name="price" required="required" value = "<%= product.price %>">
                </section>
                    <section class="register">
                    <label class="form-title">Descuento</label>
                    <input type="number" class="validate" name="discount"  placeholder = "Descuento" value = "<%= product.discount %>">
                </section>
                <section class="register">
                    <label class="form-title">Cuotas maxima</label>
                    <input type="number" class="validate" name="payments" required="required" value = "<%= product.payments %>">
                </section>
                <section class="confirm">
                    <button type="submit"><p>Cancelar</p></button>
                    <button type="submit"><p>Confirmar</p></button>
                </section>
            </form>
            <form action="/product/delete/<%= product.id %>?_method=DELETE" method="post" class="form">
                <section class="confirm">
                    <button type="submit"><p>Eliminar producto</p></button>
                </section>
            </form>
        </section>
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer') %>
    
</body>
</html>