<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header') %>
    <main class="main">
        <div id="cart_title">
            <h3>Carrito</h3>
        </div>
        <% if(product.length){ %>
        <section class="products">
            <% for( let i=0; i < product.length; i++ ) { %>
                <div class = "cart_products" id="product<%= product[i].id %>">
                    <!-- cuatro articles -->
                    <article class="product">
                        <img src="/img/<%= product[i].images[0].url %>" alt="Imagen de producto">
                    </article>

                    <article class="product_name">
                        <p><%= product[i].name %></p>
                    </article>

                    <article class="product_price">
                        <!-- Si el producto tiene descuento % -->
                        <% if (product[i].discount > 0) { %>
                            <p class="detail_product_price_lt">
                                $<%= product[i].price %>
                            </p>
                            <!-- <p class="detail_product_price_final">$</p> -->
                            <p id="discount<%= product[i].id %>" class="detail_product_price_final"><%= product[i].price - (product[i].discount * product[i].price / 100) %></p>

                        <% } else { %>
                            <!-- Si no tiene descuento -->
                            <p class="detail_product_price">
                                $<span id="price<%= product[i].id %>" class="detail_product_price"><%= product[i].price %></span>
                            </p>
                        <% } %>
                    </article>
                    <article class="add_delete">
                        <input type="number" name="cant" class="cant" id="cant<%= product[i].id %>" value="1">
                        <form action="/user/deleteCart/<%= product[i].id %>" method="post" id="delete<%= product[i].id %>" class="formdelete">
                            <button class="delete" type="submit" >
                        </form>
                            <svg width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </button>
                    </article>   
                </div>
            <% } %>
            
            <article class="total">
                <p>Total: $</p><p id="total" class="total"><%= total %></p>
            </article>

            <div id="final_buy">
                <form action="/user/buy" method="post" class="form">
                    <button class="finish_buy" type="submit">
                        Continuar compra
                    </button>
                </form>
            </div>
        </section>
        <% } else { %>
            <section class="void">
                <img src="/img/empty.jpg" alt="carrito vacío">
                <p class="title">Tu carrito está vacío</p>
                <p class="msg">Tenemos productos que te pueden interesar...</p>
                <p class="msg"><a href="/product/gallery">VER PRODUCTOS</a></p>
            </section>
        <% } %>
    </main>
    <script src="/js/productCart.js"></script>

    <%- include('../partials/footer') %>
</body>
</html>    