<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="preview">
                    <p class="detail_product_name1">
                        <%= product.name %>
                    </p>
                    <!-- <p>Lámpara de <%= product.category %></p> -->
                    <article class="preview__img">
                        <img src="\img\<%= product.images[0].url %>" alt="Luces" class="preview__img__img">
                    </article>
                    <div class="preview__txt">
                        <p class="detail_product_name2">
                            <%= product.name %>
                        </p>
                        <p class="detail_product_price">
                            $<%= product.price %>
                        </p>
                        </p>
                        <form action="" method="POST">
                            <p>En <select name="mes">
                                    <% for( let i=0; i < product.payments; i++ ) { %>
                                        <option value="<%=i+1  %>">
                                            <%=i+1 %>
                                        </option>
                                    <% } %>
                                </select>
                                cuotas</p>
                            <p> &nbsp </p>
                            <button class="agregarcarrito">Agregar al carrito</button>
                            <% if(locals.userLogged && userLogged.admin) {%>
                                <a href="/admin/product/edit/<%- product.id %>"><button type="button">Editar</button></a>
                                <a href="/admin/product/delete/<%- product.id %>"><button type="button">Eliminar</button></a>
                            <% } %>
                        </form>
                       
                    </div>
                   
                    <p> &nbsp </p>
                </section>
                <section class="Desc-articulo">
                    <h3 class="Desc-titulo">Características</h3>
                    <p class="Desc-producto">
                        <%= product.description %>
                    </p>
                </section>
                    <section class="products">
                        <h2 class="products-h2">Productos relacionados</h2>
                        <article class="see">
                            <% for( let i=0; i < products.length; i++ ) { %>
                                <article class="see__dest">
                                    <a href="/product/detail/<%= products[i].id %>">
                                        <img src="/img/<%= products[i].images[0].url %>" alt="Producto destacado" class="dest">
                                        <p>
                                            <%= products[i].name %><br><strong> $<%= products[i].price %>
                                                </strong>
                                        </p>
                                    </a>
                                    <p class="dest-fee">
                                        <%= products[i].payments %> cuotas sin interés de <strong>$<%=
                                                    parseInt(parseInt(products[i].price)
                                                    /parseInt(products[i].payments)) %></strong>
                                    </p>
                                </article>
                            <% } %>
                        </article>
                    </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>