<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head') %>
<!-- LUMEN Lights Shop -->
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <main>
        <section class="home__img">
            <img src="/img/inicio-img.jpeg" alt="Imágen bienvenida" class="home__img__img">
        </section>
        <section class="review">
            <article class="review__txt">
                <h1>LUMEN Lights Shop</h1>
                <p>
                    <strong>LUMEN Lights Shop</strong> es una tienda online, dedicada a ofrecerte <br>
                    productos de iluminación de diseño único y exclusivo, para<br>
                    acondicionar tus espacios de la manera más original.<br>
                    Podés encontrar amplia variedad para todo tipo de ambiente.
                </p>
            </article>
            
            <article class="review__img">
                <img src="/img/luces.jpeg" alt="Luces" class="review__img__img">
            </article>
        </section>

        <section class="shop">
            <article class="shop__top">
                <h3>Techo</h3>
                <a href="/product/techo"><img src="/img/techo.jpeg" alt="Lámparas de techo" id="top"></a>
            </article> 
            <div class="wall-floor">
                <article class="shop__wall">
                    <h3>Pared</h3>
                    <a href="/product/pared"><img src="/img/pared.jpg" alt="Lámparas de pared" id="wall"></a>
                </article>
                <article class="shop__floor">
                    <h3>Pie</h3>
                    <a href="/product/pie"><img src="/img/pie.jpeg" alt="Lámparas de pie" id="floor"></a>
                </article>
            </div>
        </section>

        <section class="info">
            <article class="info__items">
                <img src="https://www.svgrepo.com/show/6460/truck.svg" alt="envío" id="ship">
                <p>Envíos <strong>GRATIS</strong> a todo el país <br> en compras superiores a $10.000</p>
            </article>
            <article class="info__items">
                <img src="https://www.svgrepo.com/show/410173/card-3.svg" alt="pago" id="pay">
                <p>10% OFF por transferencia. <br> 3 y 6 cuotas <strong>sin interés</strong> en <br> todos los bancos</p>
            </article>
            <article class="info__items">
                <img src="https://www.svgrepo.com/show/347646/whatsapp.svg" alt="pedido por whatsapp" id="shop-wa">
                <p>Hacé tu pedido por <br> <strong>WhatsApp!</strong></p>
            </article>
        </section>
        
        <section class="products">
            <h2>Productos destacados</h2>
            <article class="see">
                <% for( let i = 0; i < 5; i++ ) { %>
                    <div class="see__dest">
                        <a href="/product/detail/<%= products[i].id %>">
                            <img src="/img/<%= products[i].img %>" alt="Producto destacado" class="dest">
                            <p><%= products[i].name %><br><strong> $<%= products[i].price %></strong></p>
                        </a>
                        <p class="dest-fee"><%= products[i].payments %> cuotas sin interés de <strong>$<%= parseInt(parseInt(products[i].price) /parseInt(products[i].payments)) %></strong></p>
                    </div>
                <% } %>
            </article>            
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>
</html>