<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header') %>
    <main>
        <h2 class="title">¿Estas Seguro?</h2>
        <section class="framework">
            <article class="framework_img">
                <img src="\img\users\<%= user.img %>" alt="Luces" class="framework_img_img">
            </article>
            <article class="Desc-articulo">
                <section class="text">
                    <p class="category">Nombre: </p>
                    <p class="value"><%= user.first_name %></p>
                </section>
                <section class="text">
                    <p class="category">Apellido: </p>
                    <p class="value"> <%= user.last_name %></p>
                </section>
                <section class="text">
                    <p class="category">Email: </p>
                    <p class="value"> <%= user.email %></p>
                </section>
                <section class="text">
                    <p class="category">Admin: </p>
                    <p class="value"> <%= user.admin? 'Yes' : 'No' %></p>
                </section>  
            </article>
        </section>
        <section class="confirm">
            <a href="/admin/user/list"><button class="back_button"><p>Cancelar</p></button></a>
            <form action="/admin/user/delete/<%= user.id %>?_method=DELETE" method="POST">
                    <button class="delete_button"><p>Borrar</p></button>
            </form>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>