<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <!--HEADER-->

        <%- include('../partials/header') %>

            <!--MAIN-->

            <main class="background-main-form">
                <section class="main-form">
                    <p>Editar usuario</p>
                    <form action="/admin/user/edit/<%= user.id %>?_method=PUT" method="post" class="form" enctype="multipart/form-data">
                        <section class="register">
                            <input type="text" class="validate" name="first_name" value="<%= locals.error && error.first_name ? error.first_name.value : user.first_name %>" >
                            <% if ( locals.error && error.first_name ){ %>
                                <p class="error"><%= error.first_name.msg %></p>
                            <% } %>
                        </section>
                        <section class="register">
                            <input type="text" class="validate" name="last_name" value="<%= locals.error && error.last_name ? error.last_name.value : user.last_name %>">
                            <% if ( locals.error && error.last_name ){ %>
                                <p class="error"><%= error.last_name.msg %></p>
                            <% } %>
                        </section>
                        <section class="register">
                            <input type="email" class="validate" name="email" value="<%= locals.error && error.email ? error.email : user.email %>">
                            <% if ( locals.error && error.email ){ %>
                                <p class="error"><%= error.email.msg %></p>
                            <% } %>
                        </section>
                        <section class="register">
                            <input type="tel" class="validate" name="phone" value="<%= locals.error && error.phone ? error.phone.value : user.phone %>">
                            <% if ( locals.error && error.phone ){ %>
                                <p class="error"><%= error.phone.msg %></p>
                            <% } %>
                        </section>
                        <section class="register">
                            <input type="password" class="validate" name="password" placeholder="Contraseña">
                            <% if ( locals.error && error.password ){ %>
                                <p class="error"><%= error.password.msg %></p>
                            <% } %>
                        </section>
                        <section class="register">
                            <input type="password" class="validate" name="confirm_password" placeholder="Confirmar contraseña" >
                            <% if ( locals.error && error.password ){ %>
                                <p class="error"><%= error.password.msg %></p>
                            <% } %>
                        </section>
                        <section class="register">
                            <label class="form-title">Imagen de perfil</label>
                            <section class="img">
                                <img src="/img/users/<%= user.img %>" width="100%">
                            </section>
                            <input type="file" name="img" accept=".jpg, .jpeg, .png .gif" multiple>
                            <% if ( locals.error && error.img ){ %>
                                <p class="error"><%= error.img.msg %></p>
                            <% } %>
                        </section>
                        <section class="confirm">
                            <button type="button" class="confirm_cancel">
                                <a href="/admin/user/list"><p class="button_text">Cancelar</p></a>
                            </button>
                            <button type="submit" class="confirm_confirm">
                                <p class="button_text">Confirmar</p>
                            </button>
                            <button type="submit" class="deleteButton">
                            <a href="/admin/user/delete/<%= user.id %>">
                                <p>Eliminar usuario</p></a>
                            </button>
                        </section>

                    </form>
                </section>
            </main>

            <!--FOOTER-->

            <%- include('../partials/footer') %>

    </body>

</html>