<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header') %>
    <main id="maindetodo">
        <div class="main">
        <div id="tituloDelCarrito">
            <p>Carrito</p>
        </div>
            <% for( let i=0; i < 3; i++ ) { %>
                <div class = "productosDelCarrito">
                <article class="producto">
                    <img src="/img/<%= product[i].id %>.jpeg" alt="">
                </article>
                <article class="nombreDelProducto">
                    <p><%= product[i].nombre %></p>
                </article>
                <article class="Precio">
                    <p><%= product[i].precio %></p>      
                </article>  
                <article class="addProduct">
                    <button class="menos">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                          </svg>
                    </button>
                    <p class="cero">1</p>     
                    <button class="mas">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                    </button>
                </article>
                <article class="Delete">
                    <button class="botonDeEliminar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                          </svg>
                    </button>
                </article>   
        </div>
                <% } %>
            
        <div id = "total">
            <article class="totales">
                <p class= "totalDelCarrito">Total:</p>
                <p class="precioTotal">$<%= parseInt(product[0].precio) + parseInt(product[1].precio) + parseInt(product[2].precio) %></p>
            </article>
        </div>
        <div id="boton_comprar">
            <button class="botonDeComprar">
                <span>Continuar Compra</span>
            </button>
        </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>    