<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="preview">
                    <p class="h2_preview_txt">
                        <%= product.nombre %>
                    </p>
                    <div class="preview__img">
                        <img src="\img\<%= product.img %>.jpeg" alt="Luces" class="preview__img__img">
                    </div>
                    <div class="preview__txt">
                        <p class="h2_preview_txt2">
                            <%= product.nombre %>
                        </p>
                        $<%= product.precio %>
                            </p>

                            <form action="/product/detail" method="POST">
                                <p>En <select name="mes">
                                        <% for( let i=0; i < product.maxCuotas; i++ ) { %>

                                            <option value="<%=i+1  %>">
                                                <%=i+1 %>
                                            </option>
                                            <% } %>


                                                <!-- <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option> -->
                                    </select>
                                    cuotas</p>
                                <div> &nbsp </div>
                                <button class="agregarcarrito">Agregar al carrito</button>
                    </div>
                </section>
                <h3 class="Desc-titulo">Características</h3>
                <p class="Desc-candelabro">
                    <%= product.detalle %>
                </p>

                <section class="products">
                    <h2 class="products-h2">Productos relacionados</h2>
                    <article class="see">
                        <% for( let i=5; i < 10; i++ ) { %>
                            <div class="see__dest">
<<<<<<< HEAD
                                <a href="/product/detail/<%= products[i].id %>">
                                    <img src="/img/<%= products[i].id %>.jpeg" alt="Producto destacado" class="dest">
=======
                                <a href="/productDetail/<%= products[i].id %>">
                                    <img src="/img/<%= products[i].img %>.jpeg" alt="Producto destacado" class="dest">
>>>>>>> f5120dcefa69cdabe1a64e634d8080dcd04d802e
                                    <p>
                                        <%= products[i].nombre %><br><strong> $<%= products[i].precio %></strong>
                                    </p>
                                </a>
                                <p class="dest-fee">
                                    <%= products[i].maxCuotas %> cuotas sin interés de <strong>$<%=
                                                parseInt(parseInt(products[i].precio) /parseInt(products[i].maxCuotas))
                                                %></strong>
                                </p>
                            </div>
                            <% } %>
                    </article>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>