<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>

    <!--HEADER-->
    <%- include('../partials/header') %>

    <!--MAIN-->

    <main class="background-main-form">
        <div class="main-form">
            <p class="account">Mi cuenta</p>
            <h3>ACCEDER</h3>
            <div class="errors">
                <ul>
                    
                </ul>
            </div>
            <form action ="/user/login" method="post" class="form">
                <div class="register">
                    <input type="text" name="email" id="email" placeholder = "Email" value = "<%= locals.old && old.email ? old.email : '' %>">
                    <% if ( locals.error && error.email ){ %>
                        <p class="errorMsg"><%= error.email.msg %></p>
                    <% } %>
                </div>
                <% if ( locals.error && error.errorLogin ){ %>
                    <p class="errorMsg"><%= error.errorLogin %></p>
                <% } %>
                <div class="register">
                    <input type="password" name="password" id="password" placeholder = "Contraseña">
                    <% if ( locals.error && error.password ){ %>
                        <p class="errorMsg"><%= error.password.msg %></p>
                    <% } %>
                </div>
                <div>
                    <input type="checkbox" name="remember" id="remember" value="Si">
                    <label class="Remember" for="remember">Recuérdame</label>
                </div>
                <button type="submit" class="login-button"><p>Iniciar sesión</p></button>
            </form>
            <div class="form-links">
                <a href="#"><p>¿Olvidaste tu contraseña?</p></a>
                <a href="/user/register"><p>Crear una cuenta</p></a>
            </div>
        </div>
    </main>

    <script src="/js/login.js"></script>

    <!--FOOTER-->

    <%- include('../partials/footer') %>

</body>
</html>