<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>

    <!--HEADER-->
    <%- include('../partials/header') %>

    <main class="profile_main">
        <h3>Perfil del usuario</h3>
        <article class="users_profile">
            <img src="/img/users/<%= userLogged.img %>" alt="Imagen de usuario">
            <section class="users_data">
                 <h4>
                    <%= userLogged.first_name %> <%= userLogged.last_name %>
                 </h4>
            <p>Email: <%= userLogged.email %></p>
            <p>Teléfono: <%= userLogged.phone %></p>
            <% if(userLogged.admin) {%>
                <button class="admin_options"><a href="/admin/user/list">IR A LISTA DE USUARIOS</a></button>
                <button class="admin_options"><a href="../product/gallery">IR A LISTA DE PRODUCTOS</a></button>
            <% } %>
            </section>
            <section class="users_options">
                <a href="/user/edit"><i class="fa-solid fa-pen-to-square" id="edit"></i></a>
                <a href="/user/delete"><i class="fa-solid fa-trash" id="delete"></i></a>
            </section>
            <section class="users_logout">
                <a href="/user/logout"><p>Cerrar sesión<i class="fa-solid fa-right-from-bracket" id="logout"></i></p></a>
            </section>
        </article>
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer') %>
</body>
</html>