<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>

    <!--HEADER-->
    <%- include('../partials/header') %>

    <main class="profile_main">
        <h3>Perfil del usuario</h3>
        <article class="users_profile">
            <img src="/img/users/<%= user.img %>" alt="Imagen de usuario">
            <section class="users_data">
                 <h4>
                    <%= user.firstName %> <%= user.lastName %>
                 </h4>
            <p>Email: <%= user.email %></p>
            <p>Teléfono: <%= user.phone %></p>
            <p><em>Agregar más info después</em></p>
            </section>
            <section class="users_options">
                <!-- armar bien la ruta de eliminacion -->
                <a href="../edit/<%- user.id %>"><i class="fa-solid fa-pen-to-square" id="edit"></i></a>
                <a href="#"><i class="fa-solid fa-trash" id="delete"></i></a>
            </section>
        </article>
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer') %>
</body>
</html>