<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header') %>
    <main>
        <h2 class="title">¿Estas Seguro?</h2>
        <section class="framework">
            <article class="framework_img">
                <img src="\img\users\<%= userLogged.img %>" alt="Luces" class="framework_img_img">
            </article>
            <article class="Desc-articulo">
                <section class="text">
                    <p class="category">Nombre: </p>
                    <p class="value"><%= userLogged.first_name %></p>
                </section>
                <section class="text">
                    <p class="category">Apellido: </p>
                    <p class="value"> <%= userLogged.last_name %></p>
                </section>
                <section class="text">
                    <p class="category">Email: </p>
                    <p class="value"> <%= userLogged.email %></p>
                </section>
            </article>
        </section>
        <section class="confirm">
            <a href="/user/profile"><button class="back_button"><p>Cancelar</p></button></a>
            <form action="/user/delete?_method=DELETE" method="POST">
                    <button class="delete_button"><p>Borrar</p></button>
            </form>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>